#messi{
        font-family: "Ruge Boogie",cursive;
        font-weight: 700;
        font-style: normal;
        font-size: 75px;
        text-shadow: 3px 3px 3px whitesmoke;
}
body{
       height:1000px;
        background-color: red;
        background-image: linear-gradient(to top right,purple,red,blue,green,orange,yellow);
        text-align: centre;
        background-repeat: no-repeat;
}  
#goat{
       color: blue;
}
#cow{
      color: purple;
}